# DB connection string
DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/infnova_db?schema=public"

# Application Config
PORT=3000
NODE_ENV=development

# JWT Authentication
JWT_SECRET="your_jwt_secret_here"
JWT_EXPIRATION="1d"

# Seeding Data
SEED_ADMIN_EMAIL="admin@infnova.com"
SEED_ADMIN_PASSWORD="secure_password"
